:root {
  --Gradient: linear-gradient(
    90deg,
    #ffa399 0%,
    #ff4d97 100%
  );
  --Pale_Blue: #dddbff;
  --Grayish_Blue: #848794;
  --Dark_Blue: #1d2c67;
  --Very_Dark_Blue: #0c122c;
}

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

body {
  background-color: var(--Very_Dark_Blue);
  height: 100%;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

main {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.background {
  position: absolute;
  z-index: -1;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 50%;
}
.mobile {
  display: none;
}

.component {
  margin: 0 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}

.toolkit {
  box-sizing: content-box;
  background-color: var(--Dark_Blue);

  border-radius: 10px;
  border-top-right-radius: 80px;
  padding: 40px;
  padding-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-basis: 300px;
  flex-shrink: 1;
  flex-grow: 0;
}

.tools {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.tools > .tool {
  background-color: var(--Very_Dark_Blue);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storage {
  background-color: var(--Dark_Blue);
  border-radius: 10px;
  color: white;
  padding: 40px;
  flex-basis: 600px;
  flex-shrink: 1;
  flex-grow: 0;
  position: relative;
}

.notification {
  width: 200px;

  background-color: #fff;
  border-radius: 10px;
  color: #000;
  padding: 0 20px;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  top: -40px;
  right: 40px;
}

.triangle {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: white;
  border-left-color: transparent;
  border-style: solid;
  border-width: 20px;
  width: 0px;
  position: absolute;
  right: 0px;
  bottom: -20px;
}
.notification span {
  font-size: 18px;
  color: gray;
  text-transform: uppercase;
}

.message {
  margin-bottom: 10px;
}
.message span {
  font-weight: 700;
}

.bar {
  background-color: var(--Very_Dark_Blue);
  border-radius: 20px;
  height: 20px;
  width: 100%;
  padding: 3px;
}

.used {
  border-radius: 20px;
  background: var(--Gradient);
  width: 81.5%;
  height: 100%;
  position: relative;
}

.dot {
  position: absolute;
  right: 1px;
  width: 14px;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
}

.bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.bottom p {
  font-size: 12px;
  font-weight: 700;
}

@media only screen and (max-width: 620px) {
  .background {
    height: 100%;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: initial;
  }

  .component {
    align-items: center;
    flex-direction: column;
  }

  .toolkit {
    padding: 40px;
  }
  .toolkit,
  .storage {
    box-sizing: border-box;

    width: 100%;
    max-width: 300px;
    flex-basis: 0;
  }

  .storage {
    padding-bottom: 80px;
  }
  .notification {
    right: 50%;
    transform: translateX(50%);
    top: initial;
    bottom: -30px;
    max-width: 200px;
    width: 100%;
  }
  .triangle {
    display: none;
  }
}
