:root {
  --Gradient: linear-gradient(
    90deg,
    rgba(255, 163, 153, 1) 0%,
    rgba(255, 77, 151, 1) 100%
  );
  --Pale_Blue: hsl(243, 100%, 93%);
  --Grayish_Blue: hsl(229, 7%, 55%);
  --Dark_Blue: hsl(228, 56%, 26%);
  --Very_Dark_Blue: hsl(229, 57%, 11%);
}

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

body {
  background-image: url("../images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--Very_Dark_Blue);
  height: 100%;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

.component{
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

.toolkit {
  background-color: var(--Dark_Blue);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  border-radius: 10px;
  border-top-right-radius: 80px;

  max-width: 300px;
  width: 100%;
  
}

.logo {
}

.tools {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.tools > .tool {
  border-radius: 10px;
  padding: 10px;
  background-color: var(--Very_Dark_Blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.storage {
  background-color: var(--Dark_Blue);
  color: white;
  padding: 40px;
  border-radius: 10px;
    max-width: 600px;
  width: 100%;
}

.message {
  margin-bottom: 10px;
}
.message span {
  font-weight: 700;
}

.bar {
  background-color: var(--Very_Dark_Blue);
  border-radius: 20px;
  height: 20px;
  width: 100%;
  padding: 3px;
}

.used {
  border-radius: 20px;
  background: var(--Gradient);
  width: 81.5%;
  height: 100%;
  position: relative;
}

.dot {
  position: absolute;
  right: 1px;
  width: 14px;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
}

.bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.bottom p {
  font-size: 12px;
  font-weight: 700;
}

@media only screen and (min-width: 600px) {
  body {
    background-size: 100%;
    background-position: 0% 100%;

    background-image: url("../images/bg-desktop.png");
  }
}
